<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Find Hidden Image.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>49067F1B2A06C2562402BC397E76C9EBEB4D5C85</string>
				<key>dateExpires</key>
				<string>8/17/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BZL36C25J5.com.tinygames.matchymatch</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BZL36C25J5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Find Hidden Image.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f84b6265-a24c-4928-944a-d6c9f680da78</string>
				<key>dateExpires</key>
				<string>8/17/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.tinygames.matchymatch</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BZL36C25J5</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
